ul{
    list-style-type: none;
}
.card-img-top{
    height: 500px;
}

.card-img-top:hover{
    scale: 1.05;
    transition: 1s;
}

.card-icon{
    height: 40px;
    width: 40px;
    filter: invert(1);
    margin: 1rem 0;
}
